li {
  color:red;
}

li a {
  color:red;
}

p {
  border:solid 5px red;
  padding:25px;
  margin: 25px 50px 25px 5px:
}
.important {
  font-size:25px;
}

body {
 font-family: "Arial";
}

.note {
  border: none;
  background:pink;
}

.ava{

image:2000px;

}
